<div class="container mx-auto px-3 py-64 items-center">
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <div class="card-body">
      <h2 class="card-title">Log in</h2>
      <!-- LOGIN FORM -->
      <form
        class       = "mt-3"
        [formGroup] = "authForm"
        (ngSubmit)  = "onAuthFormSubmit(authForm)"
      >

        <!-- EMAIL INPUT TEXTBOX -->
        <input
          type            = "email"
          placeholder     = "Username"
          formControlName = "email"
          class           = "input input-bordered w-full max-w-xs"
          [ngClass]       = "{ 'border-darkPomegranate placeholder-darkPomegranate' : authForm.get('email')!.touched && authForm.get('email')!.invalid }"
        >
        <!-- END EMAIL INPUT TEXTBOX -->

        <!-- PASSWORD INPUT TEXTBOX -->
        <input
          type            = " password"
          placeholder     = "Password"
          formControlName = "password"
          class           = "input input-bordered w-full max-w-xs mt-3"
          [ngClass]       = "{ 'border-darkPomegranate placeholder-darkPomegranate' : authForm.get('password')!.touched && authForm.get('password')!.invalid }"
        >
        <!-- END PASSWORD INPUT TEXTBOX -->

        <!-- SUBMIT BUTTON -->
        <div class="card-actions justify-start mt-3">
          <button
            type       = "submit"
            class      = "btn btn-primary tracking-widest lowercase bg-lightMidnightBlue hover:bg-darkMidnightBlue font-light"
            [disabled] = "authForm.invalid"
          >
            Log in
          </button>
        </div>
        <!-- END SUBMIT BUTTON -->
      </form>
      <!-- END LOGIN FORM -->
    </div>
  </div>
</div>