<div class="container-fluid min-h-screen bg-cover" style="background-image: url(./assets/img/kv-placeholder.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <raftel-header class="z-50 text-white"></raftel-header>
    <div class="hero min-h-screen">
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-max">
                <h2 class="uppercase text-2xl tracking-widest">It's a vacation just the way</h2>
                <h1 class="mb-5 text-9xl font-bold">You Wanted!</h1>
                <button class="btn tracking-widest lowercase">Call Us Now!</button>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div style="background-color: rgba(0,0,0,0.4)"><p>skjdhflkajsdhlfkjahslkdjhflakjd</p></div>
</div>
<button [routerLink]="['admin/login']">click</button>